#*
 $Id: HospitalityRejectedByLM.vm,v 1.8 2008/06/10 10:42:19 zhangzhi Exp $

New Giving Hospitality request has been rejected by Country Head.
*#

#if($mailRealTo)
Mail Real Send To: ${mailRealTo}
#end

#if($mailRealCc)
Mail Real CC To: ${mailRealCc}
#end


请点击下面的链接访问请求：

${appAddressUrl}

--------------------------------------------------------------------------------------------------

申请者： ${applyForName}

申请日期： ${applyDate}

提供招待的原因： ${reason}

招待活动： ${hospitalityType}

预估人均费用： ${expensePerHead} RMB

接受招待的人数 （包含拜耳员工）： ${headCount}

总价： ${estimatedTotalExpense} RMB

活动日期： ${hospitalityDate}

地点： ${hospPlace}

#if($hospPersonList.size() > 0)
#foreach ( $person in $hospPersonList )
--------------------------------------------------------------------------------------------------
接受招待者姓名： $person.personName  接受招待者职位： $person.positionTitle

接受招待者类别： $person.isGoSocNameCN
#if("$!person.isBayerCustomer" != "")  
接受招待者是否是拜耳的现有客户： $person.isBayerCustomerCN
#end
接受者单位名称： $person.companyName
#end
#end

申请编号： ${referenceNo}

填表人： ${creatorName}

主管： ${supervisorName}

#if($departmentHeadGroupUserList.size() > 0)
部门经理： #foreach ($departmentHead in $departmentHeadGroupUserList) $departmentHead.userFirstName $departmentHead.userLastName #end 
#end

#if($scoGroupUserList.size() > 0)
合规组： #foreach ($socGroup in $scoGroupUserList) $socGroup.userFirstName $socGroup.userLastName #end 
#end

#if($countryHeadGroupUserList.size() > 0)
地区负责人： #foreach ($countryHead in $countryHeadGroupUserList) $countryHead.userFirstName $countryHead.userLastName #end 
#end

标记： 
#foreach ($signature in $signatureList)
    $signature </br>
#end

备注：
#foreach ($remark in $remarkList)
    $remark </br>
#end



Please click the link below to access the request.

${appAddressUrl}

--------------------------------------------------------------------------------------------------

Applicant: ${applyForName}

Application Date: ${applyDate}

Why are you going to provide this hospitable activity?: ${reason}

Please describe the hospitable activity: ${hospitalityType}

Estimated Expense Per Head: ${expensePerHead} RMB

Number of Invitees: ${headCount}

Estimated Total Expense: ${estimatedTotalExpense} RMB

Date of Activity: ${hospitalityDate}

Name of the place where the activity will take place and location: ${hospPlace}

#if($hospPersonList.size() > 0)
#foreach ( $person in $hospPersonList )
--------------------------------------------------------------------------------------------------
Name of invitee(s): $person.personName  Position Title: $person.positionTitle

Categories of recipients: $person.isGoSocNameEN
#if("$!person.isBayerCustomer" != "")  
Is the company/entity a current Bayer customer?: $person.isBayerCustomerEN
#end
Company/Entity the invitees belong to: $person.companyName
#end
#end

Reference No: ${referenceNo}

Creator: ${creatorName}

Line Manager: ${supervisorName}

#if($departmentHeadGroupUserList.size() > 0)
Department Head: #foreach ($departmentHead in $departmentHeadGroupUserList) $departmentHead.userFirstName $departmentHead.userLastName #end 
#end

#if($scoGroupUserList.size() > 0)
SCO Group: #foreach ($socGroup in $scoGroupUserList) $socGroup.userFirstName $socGroup.userLastName #end 
#end

#if($countryHeadGroupUserList.size() > 0)
Country Head: #foreach ($countryHead in $countryHeadGroupUserList) $countryHead.userFirstName $countryHead.userLastName #end 
#end


Signature: 
#foreach ($signature in $signatureList)
    $signature </br>
#end

Remarks:
#foreach ($remark in $remarkList)
    $remark </br>
#end



