#if($mailRealTo)
Mail Real Send To: ${mailRealTo}
#end

#if($mailRealCc)
Mail Real CC To: ${mailRealCc}
#end

请点击下面的链接访问请求：

${appAddressUrl}

--------------------------------------------------------------------------------------------------
申请者： ${applyForName}

申请日期： ${applyDate}

赠送场景： ${reasonTypeCN}

#if($reasonType == "Other")
赠送礼品的原因： ${reason}
#end
礼品类别： ${giftDescTypeCN}

礼品名称： ${giftDesc}

最大单价： ${unitValue} RMB

数量： ${volume}

总价： ${estimatedTotalValue} RMB

接受日期： ${givingDate}

#if($giftsPersonList.size() > 0)
#foreach ($person in $giftsPersonList) 
--------------------------------------------------------------------------------------------------
提供者姓名： $person.personName  提供者职位： $person.positionTitle

单价： $person.money  数量： $person.volume

提供者单位名称： $person.companyName
#end 
#end

申请编号： ${referenceNo}

填表人： ${creatorName}

主管： ${supervisorName}

#if($scoGroupUserList.size() > 0)
合规组： #foreach ($socGroup in $scoGroupUserList) $socGroup.userFirstName $socGroup.userLastName #end
#end


标记：
#foreach ($signature in $signatureList)
    $signature </br>
#end

备注：
#foreach ($remark in $remarkList)
    $remark </br>
#end


Please click the link below to access the request.

${appAddressUrl}

--------------------------------------------------------------------------------------------------

Applicant: ${applyForName}

Application Date: ${applyDate}

The scene of receiving gifts: ${reasonTypeEN}

#if($reasonType == "Other")
Reasons for receiving gifts: ${reason}
#end

Gift Description Type: ${giftDescTypeEN}

Gift Description: ${giftDesc}

Max estimated Unit Price:${unitValue}RMB

Quantity: ${volume}

Estimated Total Value: ${estimatedTotalValue} RMB

Hand Over Date:${givingDate}


#if($giftsPersonList.size() > 0)
#foreach ($person in $giftsPersonList)
--------------------------------------------------------------------------------------------------
Gift Recipient: $person.personName Position Title: $person.positionTitle

Unit Price: $person.money Quantity: $person.volume

Company/Entity: $person.companyName

#end
#end

Reference No:${referenceNo}

Creator: ${creatorName}

Line Manager: ${supervisorName}

#if($scoGroupUserList.size() > 0)
SCO Group: #foreach ($socGroup in $scoGroupUserList) $socGroup.userFirstName $socGroup.userLastName #end
#end


Signature: 
#foreach ($signature in $signatureList)
    $signature </br>
#end

Remarks:
#foreach ($remark in $remarkList)
    $remark </br>
#end
